In [21]:
import pandas as pd
import numpy as np

# Load your “raw” sheet that includes a separate 'Seconds' column.
# Adjust sheet_name or header row if needed.
df_raw = pd.read_excel("../data/ais_data.xlsx")

# Show first few rows to confirm structure
df_raw.head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,367653630,2021-11-14T00:00:00,46.15342,-123.37714,0.0,0.0,511,OSCAR B,NaN,WDH7993,60.0,0.0,33.0,NaN,NaN,99.0,A
1,367301450,2021-11-14T00:00:03,46.17750,-123.42380,4.4,140.7,140,GRIZZLY,NaN,WDD8688,31.0,15.0,28.0,7.0,NaN,31.0,A
2,316001023,2021-11-14T00:00:05,48.93977,-125.53842,0.1,241.0,324,E J SAFARIK,IMO8717427,CZ7174,30.0,0.0,19.0,7.0,3.1,30.0,A
3,368156240,2021-11-14T00:00:06,48.61008,-123.15675,0.0,360.0,511,ROCK PAPER SCISSORS,NaN,WDL7009,99.0,0.0,12.0,3.0,0.0,99.0,A
4,366871480,2021-11-14T00:00:06,35.11520,-90.08925,0.0,248.9,74,MARGUERITE L TERRAL,IMO8976530,WDB2020,31.0,12.0,30.0,9.0,NaN,31.0,A

In [2]:
import pandas as pd

file_path = '../data/ais_data.xlsx'
df_raw = pd.read_excel(file_path)

# Rename for consistency
df_raw = df_raw.rename(columns={
    'BaseDateTime': 'Timestamp',
    'LAT': 'Latitude',
    'LON': 'Longitude'
})

# Quick check
print("Columns after renaming:")
print(df_raw.columns.tolist())
print("\nMissing values per column:")
print(df_raw.isna().sum())

Columns after renaming:
['MMSI', 'Timestamp', 'Latitude', 'Longitude', 'SOG', 'COG', 'Heading', 'VesselName', 'IMO', 'CallSign', 'VesselType', 'Status', 'Length', 'Width', 'Draft', 'Cargo', 'TransceiverClass']

Missing values per column:
MMSI                  0
Timestamp             0
Latitude              0
Longitude             0
SOG                   0
COG                   0
Heading               0
VesselName            1
IMO                 306
CallSign             48
VesselType           15
Status               92
Length               46
Width               115
Draft               363
Cargo                91
TransceiverClass      0
dtype: int64

In [3]:
# Remove rows where any of MMSI/Timestamp/Latitude/Longitude is NaN
df = df_raw.dropna(subset=['MMSI', 'Timestamp', 'Latitude', 'Longitude']).copy()

In [4]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
df = df.dropna(subset=['Timestamp'])

In [5]:
df['Timestamp'].dtype

dtype('<M8[ns]')

In [6]:
df

,MMSI,Timestamp,Latitude,Longitude,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,367653630,2021-11-14 00:00:00,46.15342,-123.37714,0.0,0.0,511,OSCAR B,NaN,WDH7993,60.0,0.0,33.0,NaN,NaN,99.0,A
1,367301450,2021-11-14 00:00:03,46.17750,-123.42380,4.4,140.7,140,GRIZZLY,NaN,WDD8688,31.0,15.0,28.0,7.0,NaN,31.0,A
2,316001023,2021-11-14 00:00:05,48.93977,-125.53842,0.1,241.0,324,E J SAFARIK,IMO8717427,CZ7174,30.0,0.0,19.0,7.0,3.1,30.0,A
3,368156240,2021-11-14 00:00:06,48.61008,-123.15675,0.0,360.0,511,ROCK PAPER SCISSORS,NaN,WDL7009,99.0,0.0,12.0,3.0,0.0,99.0,A
4,366871480,2021-11-14 00:00:06,35.11520,-90.08925,0.0,248.9,74,MARGUERITE L TERRAL,IMO8976530,WDB2020,31.0,12.0,30.0,9.0,NaN,31.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,367000150,2021-11-14 00:00:03,40.64487,-74.07142,0.0,27.0,57,ANDREW J BARBERI,IMO7702762,WYR3370,60.0,0.0,94.0,21.0,4.1,69.0,A
595,367187080,2021-11-14 00:00:18,46.19665,-123.80257,0.0,0.0,511,OCEAN BEAUT,IMO7932185,WDD7485,30.0,NaN,19.0,6.0,NaN,NaN,B
596,367047150,2021-11-14 00:00:03,45.63728,-121.94708,0.0,28.8,253,CAPTAIN BOB,NaN,WDC5835,31.0,0.0,30.0,10.0,NaN,57.0,A
597,477802500,2021-11-14 00:00:30,33.74945,-118.20911,0.0,61.0,57,YM ENDEAVOUR,IMO9461362,VRIG6,70.0,5.0,228.0,32.0,14.4,70.0,A
598,367776660,2021-11-14 00:00:05,21.32511,-158.11136,0.1,336.7,226,MOUNT BAKER,IMO9822906,WDJ6673,31.0,5.0,36.0,10.0,5.9,32.0,A

In [7]:
# Filter SOG between 0 and 60 knots
df = df[df['SOG'].between(0, 60, inclusive='both')]

# Filter valid coordinate ranges
df = df[df['Latitude'].between(-90, 90)]
df = df[df['Longitude'].between(-180, 180)]

In [8]:
df = df.sort_values(['MMSI', 'Timestamp'])
df = df.drop_duplicates(subset=['MMSI', 'Timestamp'])

In [12]:
df_clean = (
    df
    .sort_values(['MMSI', 'Timestamp'])
    .drop_duplicates(subset=['MMSI', 'Timestamp'])
    .reset_index(drop=True)
)

In [17]:
df_clean.drop(columns=['PrevLon','PrevLat',], inplace=True)

In [18]:
print("After cleaning, DataFrame head:")
print(df_clean.head())

print("\nAfter cleaning, DataFrame info:")
print(df_clean.info())

print("\nAfter cleaning, missing values per column:")
print(df_clean.isna().sum())

After cleaning, DataFrame head:
        MMSI           Timestamp  Latitude  Longitude  SOG    COG  Heading  \
0    1056261 2021-11-14 00:00:00  24.56227  -81.80312  0.0  254.5       59
1  191283710 2021-11-14 00:00:08  41.64435  -70.92108  0.0  251.4      511
2  210043000 2021-11-14 00:00:11  45.98442 -124.51808  2.2   75.0      126
3  212348000 2021-11-14 00:00:09  33.70830 -118.67070  0.7   94.0      147
4  212438000 2021-11-14 00:01:10  37.19511  -76.11126  0.0  201.1      329

         VesselName         IMO CallSign  VesselType  Status  Length  Width  \
0    CHAMPAGNE CHER  IMO1056261  WDC6418        10.0     0.0     0.0    0.0
1             PYXIS         NaN      NaN        30.0     7.0    30.0   10.0
2          EFRAIM A  IMO9520778    5BZL2        70.0     0.0   229.0   32.0
3  HYUNDAI HONGKONG  IMO9305661     5BZL        70.0     0.0   303.0   40.0
4  PEDHOULAS CHERRY  IMO9738040    5BFD4        70.0     1.0   229.0    NaN

   Draft  Cargo TransceiverClass
0    2.5   10.0                A
1    0.0   30.0                A
2   14.4   70.0                A
3   14.0   71.0                A
4    NaN   70.0                A

After cleaning, DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MMSI              598 non-null    int64
 1   Timestamp         598 non-null    datetime64[ns]
 2   Latitude          598 non-null    float64
 3   Longitude         598 non-null    float64
 4   SOG               598 non-null    float64
 5   COG               598 non-null    float64
 6   Heading           598 non-null    int64
 7   VesselName        597 non-null    object
 8   IMO               292 non-null    object
 9   CallSign          551 non-null    object
 10  VesselType        583 non-null    float64
 11  Status            507 non-null    float64
 12  Length            552 non-null    float64
 13  Width             483 non-null    float64
 14  Draft             236 non-null    float64
 15  Cargo             508 non-null    float64
 16  TransceiverClass  598 non-null    object
dtypes: datetime64[ns](1), float64(10), int64(2), object(4)
memory usage: 79.6+ KB
None

After cleaning, missing values per column:
MMSI                  0
Timestamp             0
Latitude              0
Longitude             0
SOG                   0
COG                   0
Heading               0
VesselName            1
IMO                 306
CallSign             47
VesselType           15
Status               91
Length               46
Width               115
Draft               362
Cargo                90
TransceiverClass      0
dtype: int64

In [23]:
df_clean

,MMSI,Timestamp,Latitude,Longitude,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,1056261,2021-11-14 00:00:00,24.56227,-81.80312,0.0,254.5,59,CHAMPAGNE CHER,IMO1056261,WDC6418,10.0,0.0,0.0,0.0,2.5,10.0,A
1,191283710,2021-11-14 00:00:08,41.64435,-70.92108,0.0,251.4,511,PYXIS,NaN,NaN,30.0,7.0,30.0,10.0,0.0,30.0,A
2,210043000,2021-11-14 00:00:11,45.98442,-124.51808,2.2,75.0,126,EFRAIM A,IMO9520778,5BZL2,70.0,0.0,229.0,32.0,14.4,70.0,A
3,212348000,2021-11-14 00:00:09,33.70830,-118.67070,0.7,94.0,147,HYUNDAI HONGKONG,IMO9305661,5BZL,70.0,0.0,303.0,40.0,14.0,71.0,A
4,212438000,2021-11-14 00:01:10,37.19511,-76.11126,0.0,201.1,329,PEDHOULAS CHERRY,IMO9738040,5BFD4,70.0,1.0,229.0,NaN,NaN,70.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,636019199,2021-11-14 00:00:08,38.57384,-74.83862,9.6,141.8,144,CHEM COBALT,IMO9740770,D5TK3,83.0,0.0,147.0,24.0,7.5,80.0,A
594,636020266,2021-11-14 00:00:04,47.58697,-122.34565,0.0,237.0,180,ZOI,IMO9216987,A8HL4,79.0,5.0,275.0,40.0,13.5,79.0,A
595,636020684,2021-11-14 00:00:03,37.25431,-122.58903,1.4,147.9,46,EVER FEAT,IMO9850898,5LAF3,70.0,0.0,333.0,48.0,11.5,70.0,A
596,636092823,2021-11-14 00:00:22,33.70967,-118.21585,0.2,267.9,214,AS SERAFINA,IMO9410301,D5PY9,74.0,1.0,175.0,28.0,8.3,74.0,A
597,636093041,2021-11-14 00:00:04,33.89681,-119.27059,0.5,130.0,310,CONTI CONQUEST,IMO9293818,5LCJ8,79.0,0.0,333.0,42.0,12.8,79.0,A

In [24]:
df_clean['Cargo'] = df_clean['Cargo'].astype(int)

In [22]:
df_clean['Cargo'] = df_clean['Cargo'].fillna(0)

In [26]:

# Replace missing 'CallSign' with 'UNKNOWN'
df_clean['CallSign'] = df_clean['CallSign'].fillna('UNKNOWN')

# Impute mode for categorical float columns
for col in ['VesselType', 'Status']:
    if df_clean[col].isna().sum() > 0:
        df_clean[col] = df_clean[col].fillna(df_clean[col].mode()[0])

# Impute median for ship size-related columns
for col in ['Length', 'Width']:
    if df_clean[col].isna().sum() > 0:
        df_clean[col] = df_clean[col].fillna(df_clean[col].median())

In [28]:
df_clean.to_csv('../data/ais_cleaned.csv', index=False)

In [27]:
df_clean.isna().sum()

MMSI                  0
Timestamp             0
Latitude              0
Longitude             0
SOG                   0
COG                   0
Heading               0
VesselName            1
IMO                 306
CallSign              0
VesselType            0
Status                0
Length                0
Width                 0
Draft               362
Cargo                 0
TransceiverClass      0
dtype: int64

In [ ]:
df['VesselType'].fillna(df['VesselType'].mode()[0], inplace=True)
df['Status'].fillna(df['Status'].mode()[0], inplace=True)

In [22]:
import pandas as pd
import numpy as np

# Load your “raw” sheet that includes a separate 'Seconds' column.
# Adjust sheet_name or header row if needed.
df= pd.read_csv("../data/ais_cleaned.csv")

# Show first few rows to confirm structure
df.head()

,MMSI,Timestamp,Latitude,Longitude,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,Latitude_next,Longitude_next
0,1056261,2021-11-14 00:00:00,24.56227,-81.80312,0.0,254.5,59,CHAMPAGNE CHER,IMO1056261,WDC6418,10.0,0.0,0.0,0.0,2.5,10,A,24.562270,-81.803120
1,191283710,2021-11-14 00:00:08,41.64435,-70.92108,0.0,251.4,511,PYXIS,NaN,UNKNOWN,30.0,7.0,30.0,10.0,0.0,30,A,41.644350,-70.921080
2,210043000,2021-11-14 00:00:11,45.98442,-124.51808,2.2,75.0,126,EFRAIM A,IMO9520778,5BZL2,70.0,0.0,229.0,32.0,14.4,70,A,45.986001,-124.509591
3,212348000,2021-11-14 00:00:09,33.70830,-118.67070,0.7,94.0,147,HYUNDAI HONGKONG,IMO9305661,5BZL,70.0,0.0,303.0,40.0,14.0,71,A,33.708164,-118.668370
4,212438000,2021-11-14 00:01:10,37.19511,-76.11126,0.0,201.1,329,PEDHOULAS CHERRY,IMO9738040,5BFD4,70.0,1.0,229.0,9.0,NaN,70,A,37.195110,-76.111260

In [23]:
df.isna().sum()

MMSI                  0
Timestamp             0
Latitude              0
Longitude             0
SOG                   0
COG                   0
Heading               0
VesselName            1
IMO                 306
CallSign              0
VesselType            0
Status                0
Length                0
Width                 0
Draft               362
Cargo                 0
TransceiverClass      0
Latitude_next         0
Longitude_next        0
dtype: int64

In [24]:
# Function to estimate next GPS position using SOG and COG
def project_position(row, delta_minutes=60):
    R = 6371  # Earth radius in km
    sog = row['SOG']
    cog = row['COG']
    lat = row['Latitude']
    lon = row['Longitude']

    if pd.isna(sog) or sog == 0 or pd.isna(cog):
        return pd.Series([lat, lon])  # No movement if speed or direction missing/zero

    # Calculate projected distance
    distance_km = sog * delta_minutes * 60 / 3600 * 1.852
    cog_rad = math.radians(cog)

    # Projected coordinates
    new_lat = lat + (distance_km / R) * (180 / math.pi) * math.cos(cog_rad)
    new_lon = lon + (distance_km / R) * (180 / math.pi) * math.sin(cog_rad) / math.cos(math.radians(lat))

    return pd.Series([new_lat, new_lon])

In [25]:
# Generate future coordinates
import math
df[['Latitude_next', 'Longitude_next']] = df.apply(project_position, axis=1)

In [26]:
df.head()

,MMSI,Timestamp,Latitude,Longitude,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,Latitude_next,Longitude_next
0,1056261,2021-11-14 00:00:00,24.56227,-81.80312,0.0,254.5,59,CHAMPAGNE CHER,IMO1056261,WDC6418,10.0,0.0,0.0,0.0,2.5,10,A,24.562270,-81.803120
1,191283710,2021-11-14 00:00:08,41.64435,-70.92108,0.0,251.4,511,PYXIS,NaN,UNKNOWN,30.0,7.0,30.0,10.0,0.0,30,A,41.644350,-70.921080
2,210043000,2021-11-14 00:00:11,45.98442,-124.51808,2.2,75.0,126,EFRAIM A,IMO9520778,5BZL2,70.0,0.0,229.0,32.0,14.4,70,A,45.993904,-124.467144
3,212348000,2021-11-14 00:00:09,33.70830,-118.67070,0.7,94.0,147,HYUNDAI HONGKONG,IMO9305661,5BZL,70.0,0.0,303.0,40.0,14.0,71,A,33.707487,-118.656719
4,212438000,2021-11-14 00:01:10,37.19511,-76.11126,0.0,201.1,329,PEDHOULAS CHERRY,IMO9738040,5BFD4,70.0,1.0,229.0,9.0,NaN,70,A,37.195110,-76.111260

In [27]:
df.to_csv("../data/ais_cleaned.csv", index=False)

In [28]:
print(df[['Latitude', 'Longitude', 'SOG', 'COG', 'Latitude_next', 'Longitude_next']])

     Latitude  Longitude  SOG    COG  Latitude_next  Longitude_next
0    24.56227  -81.80312  0.0  254.5      24.562270      -81.803120
1    41.64435  -70.92108  0.0  251.4      41.644350      -70.921080
2    45.98442 -124.51808  2.2   75.0      45.993904     -124.467144
3    33.70830 -118.67070  0.7   94.0      33.707487     -118.656719
4    37.19511  -76.11126  0.0  201.1      37.195110      -76.111260
..        ...        ...  ...    ...            ...             ...
593  38.57384  -74.83862  9.6  141.8      38.448188      -74.712145
594  47.58697 -122.34565  0.0  237.0      47.586970     -122.345650
595  37.25431 -122.58903  1.4  147.9      37.234557     -122.573463
596  33.70967 -118.21585  0.2  267.9      33.709548     -118.219852
597  33.89681 -119.27059  0.5  130.0      33.891457     -119.262904

[598 rows x 6 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MMSI              598 non-null    int64
 1   Timestamp         598 non-null    object
 2   Latitude          598 non-null    float64
 3   Longitude         598 non-null    float64
 4   SOG               598 non-null    float64
 5   COG               598 non-null    float64
 6   Heading           598 non-null    int64
 7   VesselName        597 non-null    object
 8   IMO               292 non-null    object
 9   CallSign          598 non-null    object
 10  VesselType        598 non-null    float64
 11  Status            598 non-null    float64
 12  Length            598 non-null    float64
 13  Width             598 non-null    float64
 14  Draft             236 non-null    float64
 15  Cargo             598 non-null    int64
 16  TransceiverClass  598 non-null    object
 17  Latitude_next     598 non-null    float64
 18  Longitude_next    598 non-null    float64
dtypes: float64(11), int64(3), object(5)
memory usage: 88.9+ KB